@use "colors" as *;

window.Bar {
  background: $base;
  color: $text;
  font-weight: bold;
  border-radius: 10px;
  margin: 10px 10px 0;

  >centerbox {
    opacity: 0.9;
    background: $base;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}
